@import 'mixins';

.footer {
    @include wrap(95%, 1500px, center);
    margin: 10vw auto;
    @media screen and (max-width:640px) {
        width: 90%;
    }
    &__cont {
    }
    &__grid {
        @include grid(5vw, 6,1);

        @media screen and (max-width:640px) {
            @include grid(20%, 3, 2);
            
        }
    }
    &__celda {
        @include flex(row, nowrap, center, center);
        animation: fade-in 1s ease;
        animation-fill-mode: both;
    }
    &__img {
        max-width: 5em;
        transition: .3s ease all;
        filter: var(--f-svg);
        &:hover{
            filter: var(--f-svg-hover);
            transform: scale(.9);
        }
        @media screen and (max-width:640px) {
            max-width: 10em;
        }

        
    }
}
