<div class="header">
    <div class="header__container">
        <div class="header__title">
            <a href="#" title="Home" class="header__logo">
                <svg class="header__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:#B2C6D3;}
                        .st1{fill:none;stroke:#000000;stroke-miterlimit:10;}
                        .st2{fill:none;}
                    </style>
                    <path class="st0" d="M147.3,27.3L100,0L13.4,50v100l47.9,27.6L100,200l86.6-50V50L147.3,27.3z M163.2,136.5L100,173v-48.7l-10-1.9
                        l-25.4,6.7v0l-27.8,7.4L57,116.1v0l18.5-18.6l3.3-9.6L36.8,63.5L100,27l63.2,36.5V136.5z"/>
                    <path class="st1" d="M113.7-77"/>
                    <path class="st1" d="M100,27"/>
                    <path class="st2" d="M100,27L36.8,63.5l42.1,24.3l-3.3,9.6L57,116.1v0l-20.3,20.4l27.8-7.4v0l25.4-6.7l10,1.9V173l63.2-36.5v-73
                        L100,27z M140.8,84.7c-3,0-5.7-1.7-7.1-4.1c-0.7-1.2-1.1-2.6-1.1-4.1c0-4.5,3.7-8.2,8.2-8.2c3,0,5.7,1.7,7.1,4.1
                        c0.7,1.2,1.1,2.6,1.1,4.1C149,81,145.4,84.7,140.8,84.7z"/>
                    <path class="st0" d="M150.9,76.4c0,5.6-4.5,10.1-10.1,10.1c-3.7,0-7-2-8.8-5.1c-0.9-1.5-1.4-3.2-1.4-5.1c0-5.6,4.5-10.1,10.1-10.1
                        c3.7,0,7,2,8.8,5.1C150.4,72.9,150.9,74.6,150.9,76.4z"/>
                </svg>
                <h1 class="header__h1">
                    <p class="header__name">Boxfish</p>
                    <p class="header__sub">studio</p>
                </h1>
            </a>
            <nav class="contact">
                <ul class="contact__pc">
                    <li class="contact__li"><a title="Email us at info@boxfish.studio" href="mailto:info@boxfish.studio" class="contact__a">info@boxfish.studio</a></li>
                    <li class="contact__li"><a title="Call us at +34 910 615212" href="tel: 0034910615212" class="contact__a">+34 910 615212</a></li>
                </ul>
            </nav>
        </div>
        <nav class="menu">
            <div (click)="toggleMenu()" class="menu__hamb">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="menu__svg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
                <span class="menu__span">Menu</span>
            </div>
            <ul [ngClass]="{'active':isMenuOpen}" class="menu__pc">
                <li *ngFor="let item of menu; let i = index" class="menu__li">
                    <a [routerLink]=[item.url] [title]="item.title" class="menu__a">{{item.title}}</a>
                </li>
            </ul>
        </nav>
    </div>
    <ul [ngClass]="{'active':isMenuOpen}" class="menu__movil">
        <li *ngFor="let item of menu; let i = index" class="menu__li">
            <a [routerLink]=[item.url] [title]="item.title" class="menu__a">{{item.title}}</a>
        </li>
    </ul>
</div>
<div class="spacer"></div>
<ul class="contact__movil">
    <li class="contact__li"><a title="Email us at info@boxfish.studio" href="mailto:info@boxfish.studio" class="contact__a">info@boxfish.studio</a></li>
    <li class="contact__li"><a title="Call us at +34 910 615212" href="tel: 0034910615212" class="contact__a">+34 910 615212</a></li>
</ul>
<aside class="overlay" [ngClass]="{'active': isMenuOpen}"></aside>
<aside (click)="toggleDark()" [ngClass]="{'active':isDark}" class="darkmode">
    <!-- <span class="darkmode__text">
        Dark mode:
    </span> -->
    <div class="darkmode__bg">
        <div class="darkmode__toggle">
            <svg *ngIf="!isDark" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-brightness-high-fill" viewBox="0 0 16 16">
                <path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
            </svg>
            <svg *ngIf="isDark" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-moon-fill" viewBox="0 0 16 16">
                <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
            </svg>
        </div>
    </div>
</aside>