@import 'mixins';

.hero {
    margin-top: 3em;
    @media screen and (max-width: 840px) {
        margin-top: 1em;
    }
    &__container {
        @include wrap(95%, 2500px, center);
        @include grid(2em, 2, 1);
        @media screen and (max-width: 840px) {
            @include grid(2em, 1);
        }
    }
    &__column {
        // max-width: 50%;
    }
    &__section {
        animation: fade-in-left 2s;
        animation-fill-mode: both;
    }
    &__h2 {
        font-size: 3.5em;
        font-weight: 700;
        margin: 1em 0;
        line-height: 1;
        em{
            color: var(--c-acento-2);
        }
        @media screen and (max-width: 720px) {
            font-size: 2em;
        }
    }
    &__p {
        color: var(--c-subtexto);
        font-weight: 600;
    }
    &__img {
        animation: fade-in-right 1.5s .5s;
        animation-fill-mode: both;
    }
}
