<div class="hero">
    <div class="hero__container">
        <div class="hero__column">
            <section class="hero__section">
                <h2 class="hero__h2">Engineering with <em>love</em> and <em>passion</em></h2>
                <p class="hero__p">High-quality solutions for emerging technologies and industries</p>
            </section>
        </div>
        <div class="hero__column">
            <img src="assets/images/bike_large.png" alt="" class="hero__img">
        </div>
    </div>
</div>